# Maven
target/

# IDEs
.idea
*.iws
*.iml
*.ipr
*.mv.db
*.trace.db

# Eclipse / STS
.classpath
.project
.settings
.springBeans
.sts4-cache
.apt_generated
.factorypath

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/